:root {
  --font1: "Libre Baskerville", serif;
  --font2: "Source Sans Pro", sans-serif;
  --greenMatrix: #40c31f;
  --yellow: #fef46d;
  --mint: #08fdd8;
  --black: #000;
  --white: #fff;
  --grey: #100f0f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey);
  color: var(--white);
}

header > div {
  width: 100%;
}

button {
  cursor: pointer;
}

p {
  font-family: var(--font2);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1.h2.h3 {
  font-family: var(--font1);
}

@-webkit-keyframes mymove {
  from {
    left: 500px;
  }
  to {
    left: 0px;
  }
}

@keyframes mymove {
  from {
    left: 500px;
  }
  to {
    left: 0px;
  }
}

h2 {
  font-size: 2.5rem;
  color: var(--mint);
  position: relative;
  -webkit-animation: mymove 5s;
          animation: mymove 5s;
}

.span {
  color: var(--mint);
  text-shadow: var(--white) -6px 0px 1px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.span:hover {
  text-shadow: var(--white) -26px 0px 1px;
}

img {
  border-radius: 1rem;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

video {
  border-radius: 1rem;
}

.flex2Columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

#header {
  font-size: 6rem;
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 4px;
  margin-top: 3rem;
  display: block;
  color: #8d8d8d;
  position: relative;
  -webkit-animation: mymove 5s;
          animation: mymove 5s;
}

.contactBtn {
  background-color: var(--grey);
  color: var(--mint);
  border-radius: 5px;
  border: 1px inset #08fdd8;
  letter-spacing: 4px;
  width: 15rem;
  height: 3rem;
  margin-left: 2rem;
  -webkit-transition: 0.6s ease-out all;
  transition: 0.6s ease-out all;
}

.contactBtn:hover {
  background: #08fdd8;
  width: 25%;
  color: var(--black);
  border-radius: 3px;
}

nav {
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(25px, -25px, 0);
          transform: translate3d(25px, -25px, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

nav.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  -webkit-transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

.disc div {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #010101;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l1:hover {
  background: shade(#010101, 90%);
  color: var(--greenMatrix);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 1.1rem;
  font-weight: 700;
}

.open .l1:active {
  background: shade(#010101, 50%);
  color: #010101;
}

.open .l1.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #02332c;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.open .l2 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l2:hover {
  background: shade(#02332c, 90%);
  color: var(--greenMatrix);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 1.1rem;
  font-weight: 700;
}

.open .l2:active {
  background: shade(#02332c, 50%);
  color: #02332c;
}

.open .l2.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #046657;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.open .l3 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l3:hover {
  background: shade(#046657, 90%);
  color: var(--greenMatrix);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 1.1rem;
  font-weight: 700;
}

.open .l3:active {
  background: shade(#046657, 50%);
  color: #046657;
}

.open .l3.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #059882;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.open .l4 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l4:hover {
  background: shade(#059882, 90%);
  color: var(--greenMatrix);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 1.1rem;
  font-weight: 700;
}

.open .l4:active {
  background: shade(#059882, 50%);
  color: #059882;
}

.open .l4.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #07cbad;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.open .l5 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l5:hover {
  background: shade(#07cbad, 90%);
  color: var(--greenMatrix);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 1.1rem;
  font-weight: 700;
}

.open .l5:active {
  background: shade(#07cbad, 50%);
  color: #07cbad;
}

.open .l5.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: #08fdd8;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .toggle {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
          transform: rotate3d(0, 0, 1, 0deg);
}

.toggle:hover {
  background: shade(#08fdd8, 90%);
  color: var(--black);
  font-size: 1.1rem;
}

.toggle:hover:active {
  background: shade(#08fdd8, 50%);
  color: rgba(8, 253, 216, 0.5);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.portfolioMain {
  padding-bottom: 4rem;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
}

.project .container {
  position: relative;
}

.project .container .projectPage {
  border-radius: 8px;
  height: 14.9rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  -webkit-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.project .container .projectPage:hover {
  border-radius: 2rem;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 1;
  -webkit-transform: scale(1.02) rotate(5deg);
          transform: scale(1.02) rotate(5deg);
}

.project .container .btnPop {
  background-color: var(--mint);
  color: var(--black);
  position: absolute;
  top: 35%;
  left: 34%;
  width: 6.5rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40%;
  font-size: 1.2vw;
  text-align: center;
  letter-spacing: 2.8px;
  border: black 6px double;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  scale: 0;
}

.container:hover .btnPop {
  -webkit-transform: rotate(6.3rad);
          transform: rotate(6.3rad);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--grey);
  color: var(--white);
  border: white 6.2px double;
  scale: 1;
}

.video {
  position: relative;
}

.video .overlayVideo {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 4rem;
  gap: 1rem;
}

.video .overlayVideo p {
  display: inline-block;
  font-size: 2vw;
}

.video .imgMe {
  margin: 1rem;
}

.video video {
  width: 100%;
}

.skillsetUl {
  margin-bottom: 10rem;
  padding: 2rem;
  border-radius: 45px;
  background-color: #36363670;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.skillsetUl img {
  width: 8rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 400ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 400ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-transform 400ms cubic-bezier(0.34, 2, 0.6, 1);
  position: relative;
}

.skillsetUl img:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
}

.contactMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

.contactMe .form {
  width: 100%;
}

.contactMe .form p {
  margin-bottom: 8rem;
  letter-spacing: 0.3rem;
}

.contactMe .form ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  gap: 2rem;
}

.contactMe .form ul img {
  width: 3rem;
}

.contactMe .form a {
  display: inline-block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contactMe .form a:hover {
  -webkit-transform: translateY(-10px) scale(1.1) rotate(0.95turn);
          transform: translateY(-10px) scale(1.1) rotate(0.95turn);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 500ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 500ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-transform 500ms cubic-bezier(0.34, 2, 0.6, 1);
}

.contactMe .map {
  width: 100%;
  border-radius: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.596);
}

.overlay div {
  max-width: 100rem;
}

.overlay div video {
  width: 50%;
  height: auto;
}

.close-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 700;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn:hover {
  background-color: red;
  color: white;
}

.divContainVideo {
  width: 70%;
  height: 27rem;
  background-color: #00000070;
  -webkit-box-shadow: 5px 3px 30px -3px white;
          box-shadow: 5px 3px 30px -3px white;
  opacity: 0.98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.modalDiv {
  background-color: #e9e3e3;
  color: var(--black);
  border-radius: 0 20px 20px 0;
  opacity: 0.95;
  -webkit-transition: ease-in-out 800ms;
  transition: ease-in-out 800ms;
  margin: 0.1rem;
  width: 50%;
}

.modalDiv p {
  margin: 1rem;
  text-align: justify;
}

.modalDiv:hover {
  background-color: #00000070;
  color: var(--white);
  opacity: 0.95;
}

.btnPage {
  color: var(--white);
  background-color: var(--mint);
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  width: 6.5rem;
  height: 2rem;
  -webkit-transition: ease 800ms;
  transition: ease 800ms;
}

.btnPage p {
  margin: 0;
}

.btnPage:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
  border-radius: 8px;
  -webkit-box-shadow: rgba(70, 182, 230, 0.4) 5px 5px, rgba(25, 124, 224, 0.3) 10px 10px, rgba(13, 60, 203, 0.2) 15px 15px, rgba(20, 5, 156, 0.06) 20px 20px, rgba(3, 6, 107, 0.05) 25px 25px;
          box-shadow: rgba(70, 182, 230, 0.4) 5px 5px, rgba(25, 124, 224, 0.3) 10px 10px, rgba(13, 60, 203, 0.2) 15px 15px, rgba(20, 5, 156, 0.06) 20px 20px, rgba(3, 6, 107, 0.05) 25px 25px;
}

.footer {
  margin: 2rem;
  background-color: #201f1f;
  border-radius: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.footer p {
  text-align: center;
}

@media (max-width: 375px) {
  h2 {
    text-align: center;
  }
  header {
    margin-bottom: 4rem;
  }
  #header#header {
    font-size: 2.8rem;
    margin-top: 6rem;
  }
  .subtitle {
    font-size: 1.4rem;
    letter-spacing: 4px;
    margin: 2rem 1rem;
  }
  .contactBtn {
    width: 70%;
  }
  .contactBtn:hover {
    width: 85%;
  }
  .project.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container.container .projectPage.projectPage {
    width: 100%;
  }
  .container.container .btnPop.btnPop:hover {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 10px;
  }
  .overlay {
    height: 95%;
  }
  .overlay.overlay div video {
    width: 92%;
    margin: 0.5rem 0.8rem;
  }
  .divContainVideo.divContainVideo {
    width: 95%;
    height: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .divContainVideo.divContainVideo .modalDiv {
    background-color: #e9e3e3;
    color: var(--black);
    border-radius: 20px;
    opacity: 0.95;
    width: 89%;
    height: 16.5rem;
    margin: 1.1rem;
    margin-top: -0.6rem;
  }
  .divContainVideo.divContainVideo .modalDiv p {
    font-size: 11px;
    margin-bottom: 0.1rem;
  }
  .divContainVideo.divContainVideo .modalDiv .btnPage {
    width: 6.5rem;
    height: 1.8rem;
    margin: auto 1rem;
  }
  .aboutDiv.aboutDiv video {
    width: 100%;
  }
  .aboutDiv.aboutDiv img {
    width: 9rem;
    height: 11.5rem;
    padding-top: 0.5rem;
  }
  .aboutDiv.aboutDiv p {
    width: 12rem;
    font-size: 7.5px;
  }
  .sectionAboutMe {
    margin-bottom: 1rem;
    height: 29rem;
  }
  .sectionAboutMe .video {
    position: relative;
    width: 100%;
  }
  .sectionAboutMe .video .overlayVideo {
    padding: 1rem;
    height: 27rem;
    margin-bottom: 1rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sectionAboutMe .video .overlayVideo p {
    text-align: center;
    width: 95%;
    font-size: 2.8vw;
  }
  .sectionAboutMe .video .overlayVideo .imgMe {
    margin-left: 2.7rem;
    width: 70%;
  }
  .sectionAboutMe .video video {
    width: 100%;
    height: 47rem;
  }
  .skillsetUl.skillsetUl {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .skillsetUl.skillsetUl img {
    width: 5.5rem;
  }
  .contactMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMe .form p {
    margin-bottom: 2rem;
    text-align: center;
  }
  .contactMe .map.map {
    width: 100%;
  }
  .footer {
    margin: 1rem 0.5rem;
  }
  .footer p {
    font-size: 12.5px;
    text-align: center;
  }
  .close-btn {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  #header {
    font-size: 5rem;
  }
  .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container .projectPage.projectPage {
    width: 100%;
  }
  .container .btnPop.btnPop {
    top: 35%;
    left: 37%;
    width: 5.5rem;
    height: 5.5rem;
    font-size: 11px;
    letter-spacing: 2.5px;
  }
  .container .btnPop.btnPop:hover {
    width: 6.5rem;
    height: 6.5rem;
    font-size: 13px;
  }
  .portfolioMain {
    padding-bottom: 2rem;
  }
  .video {
    position: relative;
  }
  .video .overlayVideo {
    padding: 2rem;
  }
  .video .imgMe {
    margin: 1rem;
  }
  .skillsetUl {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    margin-bottom: 3rem;
  }
  .contactMe .form ul img {
    width: 3rem;
  }
  .contactMe .map {
    width: 100%;
  }
  .overlay div video {
    width: 50%;
  }
  .divContainVideo {
    width: 80%;
    height: 27rem;
  }
  .divContainVideo .modalDiv {
    width: 50%;
  }
  .divContainVideo .modalDiv p {
    font-size: 2.2vw;
    text-align: center;
  }
  .divContainVideo .modalDiv .btnPage {
    margin: -5px 1.3rem;
    width: 7.5rem;
    height: 2rem;
  }
  .contactBtn:hover {
    background: #08fdd8;
    width: 40%;
    color: var(--black);
    border-radius: 3px;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s 0.5s both;
  animation: bounce-in-top 1.1s 0.5s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bounce-in-left {
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/*# sourceMappingURL=styles.css.map */