:root {
  --font1: "Libre Baskerville", serif;
  --font2: "Source Sans Pro", sans-serif;
  --greenMatrix: #40c31f;
  --yellow: #fef46d;
  --mint: #08fdd8;
  --black: #000;
  --white: #fff;
  --grey: #100f0f;
}

body {
  background-color: var(--grey);
  color: var(--white);
}

p {
  font-family: var(--font2);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1.h2.h3 {
  font-family: var(--font1);
}

h2 {
  font-size: 3rem;
  color: var(--mint);
}

.span {
  color: var(--mint);
  text-shadow: var(--white) -6px 0px 1px;
  transition: all 0.6s ease-in-out;
}

.span:hover {
  text-shadow: var(--white) -26px 0px 1px;
}
img {
  border-radius: 1rem;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block; // con esto la imagen se ajusta al grid
}
video {
  border-radius: 1rem;
}

.flex2Columns {
  display: flex;
}

ul {
  list-style: none;
}

.letterMove {
  transform: translate(0);
}
.letterMove:hover {
  transform: translate(0, -30px);
  translate: 0.8s ease-out all;
}

// HEADER

header {
  display: flex;
  margin-bottom: 10rem;
}
#header {
  font-size: 6rem;
}
.subtitle {
  font-size: 2rem;
  letter-spacing: 4px;
  margin-top: 3rem;
  display: block;
  color: #8d8d8d;
}
.contactBtn {
  background-color: var(--grey);
  color: var(--mint);
  border-radius: 2px;
  border: 1px inset #08fdd8;
  letter-spacing: 4px;
  width: 15rem;
  height: 3rem;
  margin-left: 2rem;
  transition: 0.8s ease-out all;
}

.contactBtn:hover {
  background: #08fdd8;
  width: 45%;
  color: var(--black);
  border-radius: 3px;
}
//CIRCLE MENU

$size: 50px;
$items: 5;
$transition: 0.5s;
$bounce: cubic-bezier(0.3, 1.4, 0.5, 0.9);
$color-inner: #08fdd8;
$color-outer: #010101;
$background: mix($color-inner, $color-outer);
$black: shade($color-outer, 80%);
$start-scale: 0.7;
$start-rot: 190deg;

nav {
  display: block;
  position: fixed;
  width: $size * $items * 2;
  height: $size * $items * 2;
  user-select: none;
  transform: translate3d($size * 0.5, -$size * 0.5, 0);
  transition: transform $transition $bounce;

  &.open {
    transform: translate3d(0, 0, 0);
  }

  &.top-right {
    top: -$size * ($items - 2.2);
    right: -$size * ($items - 2.2);
  }
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  line-height: $size * 0.8;
  padding-top: $size * 0.2;
  border-radius: $size * $items;
  transform: scale3d($start-scale, $start-scale, $start-scale)
    rotate3d(0, 0, 1, $start-rot);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform $transition $bounce, opacity $transition;

  div {
    transform: rotate(180deg);
  }

  .open & {
    pointer-events: auto;
    opacity: 1;
  }
}

@for $i from 1 through $items {
  .l#{$i} {
    $i: $i - 1;
    $-i: $items - $i;
    $pct: $i/$items * 100%;
    $color: mix($color-inner, $color-outer, $pct);

    top: $i * $size;
    left: $i * $size;
    right: $i * $size;
    bottom: $i * $size;
    background: $color;
    transition-delay: $i * $transition/$items;

    .open & {
      transition-delay: $i * $transition/$items;
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, $start-rot);
      opacity: 1;

      &:hover {
        background: shade($color, 90%);
        color: var(--greenMatrix);
        transition-delay: 1s;
        font-size: 1.1rem;
        font-weight: 700;
      }

      &:active {
        background: shade($color, 50%);
        color: $color;
      }

      &.toggle {
        transform: scale3d(0.9, 0.9, 0.9)
          rotate3d(0, 0, 1, $start-rot - 180deg);
      }
    }
  }
}

.toggle {
  line-height: $size * 2;
  padding: 0;
  width: $size * 2;
  background: $color-inner;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;

  .open & {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  &:hover {
    background: shade($color-inner, 90%);
    color: var(--black);
    font-size: 1.1rem;

    &:active {
      background: shade($color-inner, 50%);
      color: rgba($color-inner, 0.5);
      transform: scale(0.9);
      transition-duration: 0s;
    }
  }
}

// PORTFOLIO

.portfolioMain {
  padding-bottom: 10rem;
}
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;

  .container {
    position: relative;

    .projectPage {
      border-radius: 8px;
      height: 14.9rem;
      width: 27rem;
      object-fit: cover;
      opacity: 0.6;
      transition: 0.4s ease-out all;
      transform: scale(1);
      transition: all 200ms ease-in-out;
    }

    .projectPage:hover {
      border-radius: 2rem;
      cursor: grab;
      opacity: 1;
      transform: scale(1.02) rotate(5deg);
    }

    .btnPop {
      background-color: var(--mint);
      color: var(--black);
      position: absolute;
      top: 35%;
      left: 34%;
      width: 6.5rem;
      height: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40%;
      font-size: 14px;
      letter-spacing: 2.8px;
      border: black 6px double;
      transition: all 700ms ease-in-out;
    }
    .btnPop:hover {
      transform: rotate(6.3rad);
      border-radius: 50%;
    }
  }
}

// ABOUT ME
.aboutDiv {
  gap: 0.4rem;
  padding-bottom: 10rem;

  video {
    width: 50rem;
    position: relative;
    border-radius: 1rem 0 0 1rem;
  }
  p {
    position: absolute;
    top: 278%;
    left: 2%;
    width: 50rem;
    letter-spacing: 0.3rem;
  }

  img {
    max-width: 100%;
    width: 44rem;
    height: 28rem;
    display: block;
    object-fit: cover;
    border-radius: 0 1rem 1rem 0;
  }
}

// CONTACT
.contactMe {
  .form {
    width: 41rem;

    p {
      margin-bottom: 8rem;
      letter-spacing: 0.3rem;
    }
    ul {
      justify-content: space-evenly;
      padding: 0;
      gap: 2rem;
      img {
        width: 4rem;
      }
    }
    a {
      display: inline-block;
      transform: translateY(0);
    }

    a:hover {
      transform: translateY(-10px) scale(1.1) rotate(0.95turn);
      transition: transform 500ms cubic-bezier(0.34, 2, 0.6, 1);
    }
  }
  .map {
    width: 43rem;
    height: 31rem;
    border-radius: 1rem;
  }
}

// .galleryPhotos {
//   object-fit: cover;
//   width: 230px;
//   height: 230px;
//   box-shadow: 16px 11px 12px black;
// }

// MODAL
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center; // center the image

  //darkens the outside of the image to make the image stand out
  background-color: rgba(0, 0, 0, 0.596);

  div {
    display: block;
    max-width: 100rem;

    video {
      width: 35rem;
      height: auto;
    }
  }
}

.close-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.close-btn:hover {
  background-color: red;
  color: white;
}

.divContainVideo {
  width: 55rem;
  height: 30rem;
  background-color: var(--grey);
  box-shadow: 5px 3px 30px -3px white;
  opacity: 0.9;
}
